/**
 * File: error.css
 * Project: Ticketsystem
 * File Created: Monday, 18th December 2017 1:04:58 pm
 * @author ramon1611
 * -----
 * Last Modified: Thursday, 25th January 2018 1:18:36 am
 * Modified By: ramon1611
 */

body {
    font-family: Calibri, Helvetica, Verdana, Arial;
    font-size: 12pt;
    color: #555;

    text-align: left;
}

header {
    border-bottom: 2px solid #CCC;
}

.mainCaption {
    font-size: 23pt;
    font-weight: bold;
}

.paragraphCaption {
    font-size: 18pt;
    font-weight: bold;
}

.errorBox {
    border: 2px solid #CCC;
}

.errorMessage {
    font-size: 15pt;
}

.errorInfo {
    font-size: 15pt;
}

.backtrace {
    border: 2px solid #888;
}

.stCaption {
    padding: 5px 5px 5px 10px;
    border-bottom: 2px solid #888;
    color: #FFF;
    font-weight: bold;
    font-size: 15pt;
    background-color: #5D7B9D;
}

.stContent {
    margin: 0 auto;
    padding: 5px;
    color: #000;
    background-color: #E6E6E6;
}
