###
# File: .gitignore
# Project: Ticketsystem
# File Created: Saturday, 23rd December 2017 4:12:27 pm
# Author: ramon1611
# -----
# Last Modified: Saturday, 23rd December 2017 4:25:15 pm
# Modified By: ramon1611
###
/_exclude/
