###
# File: .gitignore
# Project: Ticketsystem
# File Created: Saturday, 23rd December 2017 4:12:27 pm
# @author ramon1611
# -----
# Last Modified: Sunday, 24th December 2017 7:10:54 am
# Modified By: ramon1611
###
_checkout.bat
/.checkout/
/.vscode/
/_exclude/
/templates/compiled/*
/cache/*
/vendor/*
composer.*